	body {
		width: 100vw;
		height: 100vh;
		font-family: Source Sans Pro;
	}


	@font-face {
	font-family: Lovelo;
	src: url("/fonts/lovelobold.otf");
	}

	.profile-info {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.cover {
	    width: 100%;
    	object-fit: cover;
    	height: 100%;
	}

	.profile-image {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-left: 20px;
	}

	.friend-image {
		width: 30px;
		height: 30px;
	}

	.profile-name {
		text-align: center;
		color: white;
		font-family: Source Sans Pro;
		font-size: 40px;
		margin: 0px;
		padding-left: 20px;
	}

	.friend {
		display: flex;
		flex-direction: row;
	}

	.friend-name {
		margin-top: 5px;
		font-size: 20px;
		margin-left: 20px;
	}

	.logo {
		color: white;
		font-family: Lovelo;
		margin-left: 20px;
		padding-top: 20px;
		font-size: 45px;
	}

	.game {
		box-sizing: border-box;
	}

	.friend-form {
		padding-top: 40px;
		margin-left: 20px;
		display: flex;
		flex-direction: row;
	}

	.friend-list {
		list-style-type: none;
		padding-left: 20px;
		padding-top: 30px;
		color: white;
	}

	.friend-input {
		border:none;
		border-radius: 30px;
		height: 30px;
		width: 190px;
		text-align: center;
	}

	.friend-image {
		border-radius: 50%;
	}

	.sumbit {
		margin-left: 10px;
	}

	.container {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 3.1fr 10fr;
		grid-template-areas: "a b";
	}
	.profile {
		grid-area: a;
		background-color: #181917;
		height: 100%;
		overflow: hidden;
	}
	.games {
		grid-area: b;
		grid-gap: 20px;
		background-color: black;
		background-color: #272826;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		padding: 20px;
		object-fit: contain;
		max-height: 100vh;
 		overflow-y: scroll;
	}
 
 	.game:hover {
 	}


	@media only screen and (min-width: 1500px) {
		.container {
			grid-template-columns: 2fr 10fr;
		}

		.games {
			grid-template-columns: repeat(5,1fr)
		}
	}

	@media only screen and (min-width: 1920px) {
		.container {
			grid-template-columns: 1.8fr 10fr;
		}

		.games {
			grid-template-columns: repeat(5,1fr)
		}
	}
