body {
	font-family: Open Sans
}
@font-face {
font-family: Lovelo;
src: url("../fonts/lovelo.otf");
}

h4{
	margin: none;
}



.name {
	padding-top: 5px;
	font-size: 20px;
	padding-left: 10px;
}

.cover {
	max-width: 100%;
	max-height: 100%;
}

.game-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
	height: 90%;
}

.card {
	height: 200px;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.game {
	height: 160px;
	width: 340px;
	margin: auto;
	padding:20px;
}

.wrapper{
	display: grid;
	grid-template-columns: 2fr 6fr;
	grid-template-areas: "a b";
	height: 100vh;
	width: 100vw;
}
.container-a {
	position: relative;
	grid-area: a;
	display: flex;
	flex-direction: column;
	align-items:center;
	background-color: #2B4162;
}
.container-b {
	grid-area: b;
	background-color: #fbfbfb;
}
.profile {
	margin-top: 35px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
h2 {
	color: white;
	font-size: 40px;
	font-family: Lovelo;
	letter-spacing: 3px;
}

form {
	position: relative;
}

.friends {
	width: 200px;
	border-radius: 30px;
	border: none;
	height: 50px;
	text-align: center;
/*		margin-bottom: 60px;
	margin-right: 45px;*/
	position: relative;
}

.submit {
	border-radius: 30px;
	border: none;
	position: absolute;
	width: 40px;
	top: 6px;
	right: 10px;
	background-color: white;
	height: 40px;

}

h3 {
	color: white;
	font-size: 30px;
	margin-bottom: 5px;
}
i {
	position: absolute;
	color: black;
	top: 19px;
	right: 20px;
	z-index: 2;
	font-size: 16px;
	pointer-events: none;
}

ul {
	color: white;
	text-align: left;
	padding-right: 130px;
	letter-spacing: 2px;
}

.flist {
	padding: 5px;
}

@media only screen and (max-width: 1125px) {
	.game {
		padding: 40px;
	}
}
