.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.link:hover {
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cohesion {
  font-family: Lovelo;
  font-size: 25px;
  font-weight: bold;
  padding-top: 5px;
  text-decoration: none;
  color: white;
}

.cohesion:hover {
  color: white;
  text-decoration: none !important;
}

.checkbox {
  padding: 10px;
}

.checkbox:hover {
  color: #61dafb !important;
}

.Collapsible__contentInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homeinput:focus {
  outline: none;
}

@media only screen and (max-width: 500px) {
  .field {
    width: 330px !important;
    margin: auto;
  }
  .filtercontainer {
    width: 330px !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
