<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./css/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/content.css">
</head>
<body>
	<div class="wrapper">
		<div class="container-a">
			<img class="profile" src="./images/user.jpg">
			<h2>Mario</h2>
			<!-- <i class="fas fa-plus-circle"></i> -->
			<form action="app" method="POST">
				<input class="friends" type="text" name="friends" placeholder="add friends">
				<input class="submit" type="submit" name="" value="">
				<i class="fas fa-arrow-right"></i>
				<h3>Friends</h3>
			</form>
			<ul>
				<li class="flist">Waluigi</li>
				<li class="flist">Luigi</li>
				<li class="flist">Wario</li>
			</ul>
		</div>
		<div class="container-b">
			<div class="game-wrapper">
				<div class="game">
					<div class="card">
						<img class="cover" src="./images/cover.jpg">
					</div>	
				</div>
			</div>
		</div>
</body>

</html>